#!/bin/sh

( sleep 10 ; \

# Create users
rabbitmqctl add_user $RBMQ_USER$ $RBMQ_PASSWORD$ ; \

# Set user rights
rabbitmqctl set_user_tags $RBMQ_USER$ administrator ; \
rabbitmqctl set_permissions -p / $RBMQ_USER$ ".*" ".*" ".*" ; \

# Run message server
export IRODS_PLUGINS_HOME="/opt/messageserver/irodsfs/plugins/"
cd /opt/messageserver/ && ./iplant_border_msg_server ; \

) &

# Run RabbitMQ
rabbitmq-server

